version: '2'

volumes:
  postgres:

services:
  db:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_PASSWORD: gi123
      POSTGRES_USER: spinnaker
      POSTGRES_DB: spinnaker
    volumes:
      - postgres:/var/lib/postgresql/data

  spinnaker:
    image: quay.io/ucsc_cgl/dcc-spinnaker
    environment:
      POSTGRES_PASSWORD: gi123
      POSTGRES_USER: spinnaker
      POSTGRES_DB: spinnaker
      UCSC_STORAGE_TOKEN: "${UCSC_STORAGE_TOKEN}"
    links:
      - db
